body {
  background-color: #252525;
  color: #fff;
}
.rounded {
  border-radius: 50%;
  width: 190px;
}
.plus-jakarta-sans-main {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.sticky {
  position: sticky;
}
.bordered {
  position: relative;
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
}
.bordered img {
  transition: 1s;
}
.bordered:hover img {
  transform: scale(1.2);
  opacity: 0.25;
}
.hoverText {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
  display: none;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 2px 4px;
}
.bordered:hover .hoverText {
  display: block;
}
